<body>
    {{#err}}
        {{err}}
    {{/err}}
    <form method="POST" action="/jwt/login">
        <label id="username" for="username">
            Username
            <input name="username" type="text" />
        </label>
        <label id="password" for="password">
            Username
            <input name="password" type="password" />
        </label>
        <input type="submit" value="post">
    </form>
</body>
